@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
/* START Reset */

/* Box sizing rules */

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: rgb(220, 220, 220);
}

/* Remove default padding */

ul[class], ol[class] {
  padding: 0;
}

/* Remove default margin */

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul[class], ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input, button, textarea, select {
  font: inherit;
}

html {
  font-size: 62.5%;
}

/* END Reset */

/* 
  Put styles here 
*/

:root {
  --background-main: #151618;
  --background-raised: #232323;
  /* text */
  --text-grey-light: #F4F4F4;
  --text-grey-mid: #E9E9E9;
  --text-grey-dark: #C9C9C9;
  /* button */
  --action-main: #4D90F1;
}

p {
  font-size: 18px;
  line-height: 28px;
}

h2 {
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 36px;
}

h3 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 28px;
}

hr {
  left: 14.03%;
  right: 13.85%;
  top: 8.55%;
  bottom: 91.45%;
  border: 0.5px solid #5B5B5B;
  margin-bottom: 20px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4D90F1;
  border: 1px solid #4D90F1;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  color: white;
  border-radius: 6px;
  min-width: 230px;
  height: 40px;
  padding: 0px 24px;
  text-align: center;
  margin: auto;
  font-size: 16px;
  transition-duration: 0.15s;
}

button:hover {
  transform: translateY(-.2rem);
}

input {
  display: flex;
  margin-top: 20px;
  border-width: 0px;
  width: 100%;
  height: 50px;
  text-align: left;
  background: var(--background-raised);
  padding-left: 20px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="text" i] {
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  font-family: Lato;
}

input::placeholder {
  color: #5B5B5B;
}

.btn-outline {
  border: 1px solid #4D90F1;
  color: #4D90F1;
  background: rgba(0, 0, 0, 0);
}

/* Header styles */

#header-container {
  width: 100%;
  height: 150px;
  color: var(--text-grey-light);
  background-color: var(--background-main);
}

#header-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 40px;
  font-weight: 300;
  font-size: 18px;
}

#header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  background: #36383b;
  padding: 0 40px;
}

#header-left {
  font-size: 24px;
  font-weight: 700;
}

#header-right>a {
  color: var(--text-grey-dark);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 20px;
}

#header-right>a:hover {
  color: var(--text-grey-light);
}

#header-right>a:visited {
  color: var(--text-grey-mid);
}

/* General page styles */

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: scroll;
  background: #151618;
}

.page-content-container {
  padding: 20px;
  width: 100%;
  max-width: 1040px;
}

.page-header-text {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 20px;
}

/* Contact Page Styling */

.page-contact-container {
  margin-top: 20px;
  color: #F4F4F4;
}

.contact-text {
  font-weight: 800;
  font-size: 18px;
}

.contact-input-box {
  margin-bottom: 20px;
}

.contact-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-fields {
  max-width: 500px;
  flex-grow: 1;
}

.contact-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

/* Videos Page Styling */

.video-row {
  margin-top: 40px;
  display: flex;
}

.video-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-right: 24px;
}

.video-thumbnail {
  /*Not sure if this is just a thumbnail or an embedded video */
  display: flex;
  width: 50%;
  margin-left: 24px;
}